.container {
  display: flex;
  flex-wrap: wrap;
}

.item > img {
  width: 100px;
  height: 100px;
}
.item > h1{
    font-size: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding-bottom: 10px;
  margin: 10px;
  font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;
  outline: none;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  color: #42788e;
  text-shadow: 1px 1px #b6e6f9;
  border: 1px solid #60a7c1;
  border-top: 1px solid #8cc5d9;
  border-bottom: 1px solid #4191b0;
  box-shadow: inset 0 1px #cdeffb, inset 1px 0 #a8e2f8, inset -1px 0 #a8e2f8,
    inset 0 -1px #8dd9f5, 0 2px #589cb6, 0 3px #4e8aa1,
    0 4px 2px rgba(0, 0, 0, 0.4);
  background: -moz-linear-gradient(top, #abe4f8 0%, #74d0f4 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #abe4f8),
    color-stop(100%, #74d0f4)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #abe4f8 0%,
    #74d0f4 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #abe4f8 0%,
    #74d0f4 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #abe4f8 0%, #74d0f4 100%); /* IE10+ */
  background: linear-gradient(top, #abe4f8 0%, #74d0f4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abe4f8', endColorstr='#74d0f4',GradientType=0 ); /* IE6-9 */
  background-color: #8cd8f6;
}
.item::-moz-focus-inner {
  border: 0;
}
.item:hover {
  background-color: #75bad5;
}
